.hero {
  grid-column: 2/-2;
  margin: 0 auto;
  width: 1100px;
  overflow: hidden;

  .slider {
    display: flex;
    width: 5500px;
    animation: slide 30s ease-in-out infinite alternate forwards;
    -webkit-animation: slide 30s ease-in-out infinite alternate forwards;
    div {
      height: 500px;
      width: 1100px;
      background-position: center;
      background-size: cover;
    }
  }
  .slide1 {
    background-image: url("./media/heroBG/1.jpg");
  }
  .slide2 {
    background-image: url("./media/heroBG/2.jpg");
  }
  .slide3 {
    background-image: url("./media/heroBG/3.jpg");
  }
  .slide4 {
    background-image: url("./media/heroBG/4.jpg");
  }
  .slide5 {
    background-image: url("./media/heroBG/5.jpg");
  }
}
@keyframes slide {
  2% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  20% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  22% {
    transform: translateX(-1100px);
    -webkit-transform: translateX(-1100px);
    -moz-transform: translateX(-1100px);
    -ms-transform: translateX(-1100px);
    -o-transform: translateX(-1100px);
  }
  40% {
    transform: translateX(-1100px);
    -webkit-transform: translateX(-1100px);
    -moz-transform: translateX(-1100px);
    -ms-transform: translateX(-1100px);
    -o-transform: translateX(-1100px);
  }
  42% {
    transform: translateX(-2200px);
    -webkit-transform: translateX(-2200px);
    -moz-transform: translateX(-2200px);
    -ms-transform: translateX(-2200px);
    -o-transform: translateX(-2200px);
  }
  60% {
    transform: translateX(-2200px);
    -webkit-transform: translateX(-2200px);
    -moz-transform: translateX(-2200px);
    -ms-transform: translateX(-2200px);
    -o-transform: translateX(-2200px);
  }
  62% {
    transform: translateX(-3300px);
    -webkit-transform: translateX(-3300px);
    -moz-transform: translateX(-3300px);
    -ms-transform: translateX(-3300px);
    -o-transform: translateX(-3300px);
  }
  80% {
    transform: translateX(-3300px);
    -webkit-transform: translateX(-3300px);
    -moz-transform: translateX(-3300px);
    -ms-transform: translateX(-3300px);
    -o-transform: translateX(-3300px);
  }
  82% {
    transform: translateX(-4400px);
    -webkit-transform: translateX(-4400px);
    -moz-transform: translateX(-4400px);
    -ms-transform: translateX(-4400px);
    -o-transform: translateX(-4400px);
  }
  100% {
    transform: translateX(-4400px);
    -webkit-transform: translateX(-4400px);
    -moz-transform: translateX(-4400px);
    -ms-transform: translateX(-4400px);
    -o-transform: translateX(-4400px);
  }
}
