.new-arrivals {
  grid-column: 2/-2;
  padding: 3rem 0;

  h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .cards-container {
    display: flex;
    justify-content: space-between;
    .card {
      background-color: white;
      width: 200px;
      &:hover {
        border: 3px solid #c4c4c4;
      }
    }
  }
}
